{% extends 'helpdesk/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-one eight columns">
    <h4>About</h4>
    <p> IT Service Portal is a web application for collecting, managing and tracking requests for desktop and software support, project requests, and other IT-related services. </p>
        <p>This application was developed by Chris Allmann for the IST691 final project in Spring 2019.</p>
    </div>
  </div>
{% endblock %}
