{% extends 'helpdesk/base.html' %}

{% block content %}
    <h1>Create Assignment</h1>
    <form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create</button>
    </form>
{% endblock %}