{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'helpdesk/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'helpdesk/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'helpdesk/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="status row">
<span class="admin-view" >{% if perms.helpdesk.hd_admin or perms.helpdesk.hd_staff %}STAFF VIEW{% endif %}</span>
        <div class="four columns offset-by-eight">


            <ul class="inline login-detail ">
                {% if user.is_authenticated %}
                    {% if user.first_name  %}
                        <li><span class="username">Hello, {{ user.first_name }}</span></li>
                        <li><a href="{% url 'logout_urlpattern' %}">Logout</a></li>
                    {% else %}
                        <li><span class="username">Hello, {{ user }}</span></li>
                        <li><a href="{% url 'logout_urlpattern' %}">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login_urlpattern' %}">
                        Login</a></li>
                {% endif %}
            </ul>


        </div>
    </div>
<div class="container">

    <header id="banner" class="row">
        <div class="twelve columns">
            <a href="{% url 'about_urlpattern' %}"><span class="logo"></span></a>
            <h2>IT Service Portal</h2>
        </div>
    </header>
    <nav>
        <ul>
        {% if user.is_authenticated %}
            {% if perms.helpdesk.hd_admin or perms.helpdesk.hd_staff %}
                <li>
                    <a href="{% url 'helpdesk_ticket_list_urlpattern' %}">Tickets</a></li>
            {% else %}
                <li>
                    <a href="{% url 'helpdesk_ticket_list_urlpattern' %}">My Tickets</a></li>
            {% endif %}



            {% if user.is_superuser %}
                <li>
                     <a href="{% url 'admin:index' %}">Administration</a>
                </li>

            {% endif %}
            <li>
                <a href="{% url 'about_urlpattern' %}">About</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <main>
{#        <section class="desktop twelve columns">#}
{#            {% block create_button %}{% endblock %}#}
{#        </section>#}
        {% block content %}
            <div class="row">
                <section class="twelve columns">
                    {% block org_content %}

                    {% endblock %}
                </section>

            </div>
            <div class="row">
                <div class="eight columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div><!-- container -->

<footer>
    <p>
        IT Service Portal - IST691 Final Project by Chris Allmann
    </p>
</footer>

</body>

</html>
