{% extends 'helpdesk/base.html' %}

{% block content %}
    <h5>Add Comment</h5>
    <form method="POST"  >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}