{% extends 'helpdesk/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
    </form>
    <p>Don't have an account?  </p>
    <a href="{% url 'signup' %}"><button type="button">Register</button></a>
{% endblock %}
