{% extends 'helpdesk/base.html' %}

{% block content %}
  <h2>Register</h2>

 {% if user.is_authenticated %}
    <p>You are already registered and logged in!</p>
{% else %}
     <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
{% endif %}
{% endblock %}