{% extends 'helpdesk/base.html' %}

{% block title %}
        Error Deleting Ticket
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Ticket</h2>
        <p>
            You may not delete {{ ticket }}. Please contact the system administrator.


        <p>
            Return to <a href="{% url 'courseinfo_ticket_list_urlpattern' %}">Ticket List</a>
        </p>

    </div>
{%  endblock %}