{% extends 'helpdesk/base.html' %}

{% block title %}
    My Tickets
{% endblock %}


{% block org_content %}
   {% if perms.helpdesk.hd_admin or perms.helpdesk.hd_staff %}
    <h2>Tickets</h2>
   {% else %}
        <h5 style="font-weight:500;">My Tickets</h5>
    {% endif %}


{% block create_button %}
    {% if perms.helpdesk.add_ticket %}
    <div class="desktop">
        <a href="{% url 'helpdesk_ticket_create_urlpattern'  %}" class="button button-primary">Create Ticket</a>
    </div>
    {% endif %}




    {% if perms.helpdesk.add_ticket %}
    <div class="mobile">
      <a href="{% url 'helpdesk_ticket_create_urlpattern' %}" class="button button-primary">Create Ticket</a>
    </div>
    {% endif %}
{% endblock %}





      <table class="ticket_list">
          <tbody>
          <tr>

              <th>Summary</th>
              <th>Date</th>
              <th>Status</th>
              {% if perms.helpdesk.hd_admin or perms.helpdesk.hd_staff %}
                <th>Requestor</th>
              {% endif %}
          </tr>
            {% for ticket in ticket_list %}
                <tr class="ticket_list_row">
                <td>
                     <a href="{{ ticket.get_absolute_url }}">
                        {{ ticket.title }} </a>
                </td>

                <td>
                    {{ ticket.date_created.date }}
                </td>
                <td>
                    <span class="ticket-status
                        {% if ticket.status.status == 'Resolved' or ticket.status.status == 'Closed' %}resolved{% elif ticket.status.status == 'Open' %}open{% elif ticket.status.status == 'New' %}new{% elif ticket.status.status == 'On Hold' %}hold
                        {% endif %}
                    ">{{ ticket.status }}</span>
                </td>
                {% if perms.helpdesk.hd_admin or perms.helpdesk.hd_staff %}
                    <td>
                        {{ ticket.user.get_full_name }}
                    </td>
                {% endif %}
                </tr>

            {% endfor %}

            </tbody>
        </table>
        {% if ticket_list.count < 1  %}
            <div class="spacer-50 center"><em>There are currently no tickets.</em></div>
        {% endif %}



{% endblock %}
