{% extends 'helpdesk/base.html' %}

{% block title %}
    Ticket - {{ ticket }}
{% endblock %}

{% block content %}
    <article>

        <div class="row">

            <div class="twelve columns">

                <div class="twelve columns">

                    <section class="twelve columns" >
                        <h5>
                            <span class="ticket-title">{{ ticket.title}}</span>
                            <span class="ticket-status">{{ ticket.status }}</span>
                        </h5>
                        <section>
                            <h6>
                                Ticket ID: {{ ticket.ticket_num}}<br/>
                                Last Updated: {{ ticket.date_modified}}<br/>
                                Date Created: {{ ticket.date_created }}<br/>
                                Requested By: {{ ticket.user.get_full_name }}
                            </h6>
                         </section>
                    </section>
                </div>
                <span class="u-cf" style="margin:10px;"></span>
                <section class="twelve columns">
                    <ul class="ticket-buttons" style="list-style-type: none;">
                        {% if  perms.helpdesk.change_ticket or ticket.user == user %}
                            <li style="display:inline;float:left; margin: 0 1em 0 0;">
                                <a href="{{ ticket.get_update_url }}" class="button-primary button">
                                    Edit Ticket
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.helpdesk.delete_ticket or ticket.user == user %}
                            <li style="display:inline;float:left;margin: 0 1em 0 0;">
                                <a href="{{ ticket.get_delete_url }}" class="button button-primary">
                                    Delete Ticket
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                <span class="u-cf" style="margin:10px;"></span>
                </section>

                <section class="detail-section twelve columns">
                    <table>
                        <tr>
                            <th>Category</th>
                            <td>{{ ticket.category }}</td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>{{ ticket.priority}}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ ticket.description }}</td>
                        </tr>
                    </table>
                </section>

                <section class="twelve columns ticket_comment_holder">
{#                <form#}
{#                    action="{% url 'helpdesk_comment_create_urlpattern' %}"#}
{#                    method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    <button type="submit">Create Ticket</button>#}
{#                </form>#}

                    <div class="eight columns ticket_comments">
                    <a class="button" href="{% url 'helpdesk_comment_create_urlpattern' pk=ticket.ticket_id  %}">Add Comment</a>
                    {% for comment in comments.all %}
                        <div class="comment">
                            <div class="comment_user">{{ comment.comment_user.get_full_name }}</div>
                            <div class="comment_date">{{ comment.created_date }}</div>
                            <div class="comment_text">
                            {{ comment|linebreaks}}
                            </div>

                        </div>
                             {% empty %}
                                <p>No comments...</p>
                            {% endfor %}
                    </div>
                </section>
            </div>
        </div> <!-- row -->


    </article>
{% endblock %}
