{% extends 'helpdesk/base.html' %}

{% block title %}
    Delete Ticket
{% endblock %}

{% block content %}
    <form
        action="{{ ticket.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete this ticket?
        </p>
        <a class="button " href="{{ ticket.get_absolute_url }}">Cancel</a>
        <button class="button button-primary" type="submit">Delete Ticket</button>

    </form>
{%  endblock %}