@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


.desktop {
	display: none;
}

@media (min-width: 550px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

.center {
	text-align: center;
}

.errorlist {
	color: #dd1144;
}

.helptext {
	display: block;
	padding: 0;
	margin: -1em 0 2em;
	color: #555;
}

html {
	height: 100%;
	background-color: #555;
}

body {
	background-color: white;
	font-family: "Open Sans",  sans-serif;
}

body>div>header {
	text-align: center;;
}

#banner{
	padding-top:10px;
}

header h1 {
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
}


.ticket-buttons{
	float:left;
	margin: 0 0 0 0;

}



.ticket-status{
	font-weight: 600;
	text-transform: uppercase;
	background-color: #ececec;
    padding: 5px 10px;
	border-radius:3px;
	vertical-align: middle;
	margin:0 0 0 0;
	display:inline-block;
	height:100%;
}

.ticket-status.resolved{
	background-color:#adb;
}

.ticket-status.open{
	background-color:#ffeeaadb;
}

.ticket-status.new{
	background-color:#0070bb4f;
}

.ticket-status.hold{
	background-color:#ffd1d1;
}


.ticket-title{
	font-weight:600;
	margin-right:1em;
	display:inline-block;
	min-width:90%
}

table.ticket_list{
	width:100%;
}
.spacer-50{
	width:100%;
	clear:both;
	height:50px;
	display: block;
}

.ticket_list_row{
	height: 100%;
	border-bottom: 1px solid #E1E1E1;
}


.detail-section{
	background: #ececec2e;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
}

.admin-view{
	z-index:10000;
	color:#fff;
	position:absolute;
	width:auto;
	top:10px;
	z-index:1;
	left: 48.7%;
}

#id_title,#id_description{
	width:50% !important;
}

.comment{
	margin-top:5px;
	border-bottom: solid 1px #ddd;
}

.comment_text {
	margin-top:1em;
	font-size:.8em;
}

.comment_date{
	font-size:.9em;
}

.comment_user{
	font-weight: 600;
}


@media (max-width:760px){
	.admin-view{
		text-align:left;
		margin: 0 0 0 1em;
		left:initial;
	}


	.login-detail{
		margin-right:2em !important;

	}

	.ticket_list_row{
		font-size:.8em;
	}

	input,textarea{
		min-width:95% !important;
	}


}

.login-detail{
	float:left;
	display:inline-block;
	margin-right:2em !important;

}

.status{
	padding:10px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
	height: 25px;
    background-color: #555;
	z-index:998

}

div.status > div > ul > li > a {
	text-decoration: none;
    color: #000;
    padding: 4px 10px;
    background-color: #fff;
    border-radius: 2px;
	font-size:.9em
}

.username{
	padding:0px 10px;
	color:#fff;
}


.logo {
	padding-top: 10px;
	background-image: url("/static/helpdesk/logo.png");
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: top;
	height: 70px;
    width: 70px;
    display: inline-block;

}

/*#id_title,#id_description*/
@media (max-width: 1000px) {
	input,textarea{
		width:90% ;
	}

	.ticket-buttons{
	float:left;
		margin: 1em 0 1em 0;

	}
}





@media (min-width: 750px) {
	.logo {
		padding-top: 0;
		background-size: contain;
		background-position: 0% 0%;
	}
}

@media (min-width: 1000px) {
	.logo {
		background-position: 10% 0%;
		float: left;
		padding-top: 25px;
		background-position: center;
	}
}
@media (min-width: 1200px) {
	.logo {
		background-position: 15% 0%;
	}
}

nav {
    border-top: 1px solid #eee;
	width: 100%;
	border-bottom: 1px solid #eee;
	margin: 0 0 1em;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 1em 0;
	list-style-type: none;
	text-align: center;
}

nav ul li {
    display: inline;
    padding: 0;
	margin: 0 0.25em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	letter-spacing: .10rem;
}

@media (min-width: 400px) {
	nav ul li {
		letter-spacing: .15rem;
		font-size: 1.2rem;
		margin: 0 0.5em;
	}
}

@media (min-width: 550px) {
	nav ul li {
		margin: 0 0.75em;
	}
}


nav ul li a {
	color: #555;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

article h2 {
	margin: 0;
	padding: 0;
}

article h3 {
	margin: 0;
	padding: 0;
}

.read-more {
	padding: 0;
	margin: -2em 0 0;
}



@media only screen and (max-width: 1000px) {
	.inline {
		list-style-type: none;
		padding: 0;
		margin: 0 1em -0.5em;
		float: right;
	}
}
.inline li {
    display: inline;
}

.latest-posts {
	display: none;
}

@media (min-width: 550px) {
	.latest_posts {
		display: block;
	}
}

article footer h3 {
	display: inline;
	font-size: 1.8rem;
	line-height: 1.5; 
	letter-spacing: -.05rem;
}

article footer ul {
	display: inline;
	margin: 0;
	padding: 1em 0;
	list-style-type: none;
}

article footer li {
	display: inline;
	padding: 0;
	margin: 0 0.5em;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .10rem;
}

.pagination ul {
	width: 100%;
	margin: 0;
	padding: 1em 0;
	list-style-type: none;
}

.pagination li {
	display: inline-block;
	padding: 0;
	margin: 0 1em;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .10rem;
}

.pagination {
	margin: 0;
	padding: 1em 0;
	list-style-type: none;
	text-align: center;

}

body>footer {
	width: 100%;
	background-color: #555;
	max-height: 100px;
	font-size: 1.1rem;
	letter-spacing: .05rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
}

body>footer p {
	margin-bottom: 0.5rem;
	color:#fff;
	font-weight:300;
}

body>footer ul {
	margin: 0;
	padding: 0;
}

body>footer li{
	display: inline;
	padding: 0;
	margin: 0 1em;
}

/*.feed {*/
  /*margin-left: 3px;*/
  /*padding: 0 0 0 19px;*/
  /*background: url("/static/site/rss.png") no-repeat 0 50%;*/
/*}*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
